#go {
	margin-right: 1em;
}
.counters {
	font-size: 12px;
	display:inline-block;
	margin-left:1em;
}

.counters .btn.active {
	background: #8fc4ff;
}

td.details-control,
.toggle-discussion {
    cursor: pointer;
}

td.details-control:after,
.toggle-discussion:before {
    font-family: 'Glyphicons Halflings';
}

td.details-control:after {
	content: '\e081';
}

tr.shown td.details-control:after {
	content: '\e082';
}

.details {
	position: relative;
}

.attachments {
	text-align: right;
}

.discussion tr td:first-child {
	text-align: center;
}

.infos dt {
	color: gray;
	font-weight: normal;
}

.ticket-url {
	display: block;
	position: absolute;
	top: 1em;
	right: 1em;
}

.toggle-discussion:before {
	margin-right: 0.5em;
	content: '\e252 ';
}
.toggle-discussion.collapsed:before {
	content: '\e250 ';
}

.toggle-discussion.no {
	cursor: default;
}
.toggle-discussion.no:before {
	content:''
}

section {
	margin-bottom: 1em;
}

#loading {
	color: #AAA;
}

#new-msg {
	font-size: large;
}

#new-msg .btn {
	background-color: #ffc600;
	border-color: #c89b00;
	margin-left: 1em;
}

#clear {
	color: #666;
}

span[data-field = 'timestamp'],
span[data-field = 'author']{
	color: #AAA;
}